#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}






input:hover {
  background-color: antiquewhite;
}

.submitBtn {
  width: 6rem;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  background: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.resetBtn {
  background-color: red;
  width: 6rem;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.startBtn {
  background-color: aqua;
  width: 6rem;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
