#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

input:hover {
  background-color: antiquewhite;
}

.submitBtn {
  width: 6rem;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  /* outline: none; */
  /* background: none; */
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-top: 0.5rem;
  background-color: rgb(233, 107, 216);
}
.resetBtn {
  background-color: red;
  width: 6rem;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.startBtn {
  background-color: aqua;
  width: 6rem;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

/* @media screen and (max-width: 500px) {
  input {
    height: "4rem";
    width: "4rem";
  }
} */

@media all and (min-width: 768px) and (max-width: 2048px) {
  input {
    width: 8rem;
    height: 8rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  input {
    width: 6rem;
    height: 6rem;
  }
}

@media all and (max-width: 480px) {
  input {
    width: 5rem;
    height: 5rem;
  }
}
